.Weather .weather-container {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 8px;
  }
  
  .main-temp-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
  }
  
  .city-container {
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    border-right: 1px solid white;
  }
  
  .city-container h2 {
    font-size: 55px;
  }
  
  .main-temp-container h2 {
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 75px;
  }
  
  .main-temp-container i {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  }
  